* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper-header {
  position: relative;
  width: 100%;
  padding: 0.2rem;
  background: #01164e;
}

.logo a img {
  padding: 16px 16px;
}

.links li a {
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f6f6;
  text-decoration: none;
}

.links {
  margin-bottom: 0 !important;
}

.wrapper-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.wrapper-navbar .links {
  display: flex;
  gap: 2rem;
}

.wrapper-navbar .toggle-btn {
  cursor: pointer;
  display: none;
}

.dropdown-toggle span {
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.dropdown {
  background: linear-gradient(0deg, #001447, #001447),
    linear-gradient(0deg, #ffffff, #ffffff) !important;
  border: 1px solid #ffffff !important;
  border-radius: 8px !important;
  padding: 1px;
}

.dropdown:hover {
  background: #ffb25f !important;
  border: 1px solid #ffb25f !important;
}

.dropdown:hover span {
  color: #001447;
}

.btn.btn-secondary {
  background: none !important;
}

.dropdown-menu {
  min-width: 7rem !important;
  transform: translate3d(0px, 43px, 0px);
  background: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 8px !important;
  padding: 1px;
  text-align: center !important;
}

.dropdown-item span {
  width: 36px;
  min-height: 20px;
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}

.wrapper-dropdown-menu {
  position: absolute;
  right: 0;
  top: 70px;
  width: calc(80%);
  height: 0;
  background: #001447;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.wrapper-dropdown-menu.open {
  height: calc(85vh);
}

.closeIcon {
  display: none;
}

.wrapper-open-lenguage {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 15px 20px;
}

.wrapper-open-lenguage .dropdown-toggle {
  background: linear-gradient(0deg, #001447, #001447),
    linear-gradient(0deg, #ffffff, #ffffff) !important;
  border: 1px solid #ffffff !important;
  border-radius: 8px !important;
  padding: 1px;
}

.wrapper-open-lenguage .dropdown-toggle:hover {
  background: #ffb25f !important;
  border: 1px solid #ffb25f !important;
}

.closeIcon {
  cursor: pointer;
}

.wrapper-background {
  width: 100%;
  min-height: 739px;
  background-image: url(../img/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.container-vector1 {

  position: absolute;
  width: 268px;
  top: 0;
  left: 0;
  z-index: 1;
}

.container-vector2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 480px;
}

.container-group {
  position: absolute;
  top: 64%;
  left: 53px;
}

.container-block-welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 25%;
  left: 13%;
}

.container-block-welcome h3 {
  width: 639px;
  font-family: Montserrat arm;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;

  color: #f6f6f6;
}

.container-block-welcome h2 {
  font-family: Montserrat arm;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f6f6;
}

.container-welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-block-welcome span {
  width: 500px;
  font-family: Montserrat arm;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #f6f6f6;
}

.container-block-welcome button {
  width: 288px;
  height: 44px;
  padding: 12px, 32px, 12px, 32px;
  border: none;
  border-radius: 32px;
  background: linear-gradient(180deg, #ffb763 10.52%, #ff7233 78.75%);
}

.container-vector3 {
  width: 346.45px;
  height: 346.45px;
  flex-shrink: 0;
  position: absolute;
  left: 45%;
  background-blend-mode: overlay;
  mix-blend-mode: overlay;
  bottom: 81%;
}

.container-vector4 {
  position: absolute;
  left: 49%;
  bottom: 98%;
}

.container-vector5 {
  position: absolute;
  top: 25%;
  left: 46%;
}

.container-img-vector6 {
  width: 620px;
  height: 620px;
  background-image: url(../img/Vector6.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  left: 54%;
  top: 64px;
  overflow: hidden;
  z-index: 10;
}

.container-vector7 {
  position: absolute;
  left: 56%;
  top: 76px;
}

.container-vector8 {
  position: absolute;
  left: 52%;
  top: 43%;
}

.container-vector9 {
  position: absolute;
  top: 73%;
  left: 28%;
}

.container-vector10 {
  width: 238px;
  position: absolute;
  top: 178px;
  left: 68px;
}

.container-vector11 {
  width: 223px;
  position: absolute;
  left: 49%;
  top: 76px;
}

.container-vector13 {
  position: absolute;
  left: 83%;
  bottom: 142px;
  z-index: 20;
}

.container-vector14 {
  position: absolute;
  bottom: 77%;
  left: 85%;
  width: 250px
}

.container-working {
  position: relative;
  width: 100%;
  min-height: 550px;
  background-image: url(../img/121114.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 177px;
  z-index: 50;
}

.container-position-flex {
  position: relative;
  top: 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container-boot-top span {
  width: 159px;
  font-family: Montserrat arm;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f6f6;
}

.container-frame1 h3 {
  width: 397px;
  font-family: Montserrat arm;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f6f6;
}

.container-col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.container-col-left h3 {
  width: 135px;
  font-family: Montserrat arm;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #b3dd62;
}

.content-hiden {
  overflow: hidden;
}

.container-col-left span {
  width: 244px;
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffffb2;
}

.container-col-left1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.container-col-left1 h3 {
  width: 228px;
  font-family: Montserrat arm;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #b3dd62;
}

.container-col-left1 span {
  width: 317px;
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffffb2;
}

.container-col-left2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.container-col-left2 h3 {
  width: 101px;
  font-family: Montserrat arm;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #b3dd62;
}

.container-col-left2 span {
  width: 294px;
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffffb2;
}

.col-sm {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.content-flex {
  align-items: center;
}

.container-vector30 {
  position: absolute;
  left: 72%;
  bottom: 7%;
}

.container-vector31 {
  position: absolute;
  left: 55%;
  top: 83%;
  width: 85px;
}

.container-vector32 {
  position: absolute;
  bottom: 78%;
  left: 12%;
}

.container-vector33 {
  position: absolute;
  bottom: 80%;
  left: 27%;
}

.wrapper-section-vectors {
  width: 100%;
  min-height: 880px;
  background-image: url(../img/vector-section1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.wrapper-image-logo {
  position: relative;
}

.wrapper-info-ellips {
  position: relative;
  width: 575px;
  left: 50%;
  top: 300px;
}

.container-ellips-image {
  position: absolute;
  top: 76px;
  left: 5%;
}

.wrapper-info-ellips h3 {
  width: 575px;
  font-family: Montserrat arm;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;

}

.wrapper-info-ellips span {
  width: 518px;
  font-family: Montserrat arm;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFFB2;

}

.container-vector39 {
  position: absolute;
  top: 69%;
  left: 46%;
}

.container-vector40 {
  position: absolute;
  left: 77%;
  bottom: 65%;
  width: 244px;
}

.container-vector41 {
  position: absolute;
  left: 81%;
  top: 183px;
  width: 100px;
}

.container-vector42 {
  position: absolute;
  width: 300px;
  top: 85%;
  left: 73%;
  z-index: 2;
}

.container-vector36 {
  position: absolute;
  top: 95%;
  left: 138px;
  z-index: 2;
}

.wrapper-section3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: linear-gradient(99.81deg, #0A30A3 -0.37%, #001447 55.23%);
}

.wrapper-section3-content {
  padding: 130px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.werapper-content-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.werapper-content-col h3 {
  width: 635px;
  font-family: Montserrat arm;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #B3DD62;
  z-index: 1;

}

.werapper-content-col>span {
  width: 500px;
  font-family: Montserrat arm;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFFB2;
  z-index: 1;

}

.wrapper-image-people1 {
  width: 580px;
  z-index: 1;
}

.wrapper-image-people2 {
  width: 692px;
  z-index: 1;
}

.wrapper-image-people3 {
  width: 528px;
  z-index: 1;
}

.vector-svg {
  position: absolute;
  width: 182px;
  top: 76%;
}

.vector-svg1 {
  position: absolute;
  top: 88%;
  left: 205px;
  z-index: 0;
}

.vector-svg2 {
  position: absolute;
  top: 84%;
  left: 58%;
}

.vector-svg3 {
  position: absolute;
  width: 200px;
  top: 88%;
  left: 82%;
}

.vector-svg4 {
  position: absolute;
  width: 100px;
  top: 44%;
  left: 88%;
}

.wrapper-smoll-content {
  width: 100%;
  background: #011855;
  min-height: 666px;
  position: relative;
  overflow: hidden;
}

.wrapper-smoll-text h3 {
  width: 100%;
  font-family: Montserrat arm;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.container-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.SvgGroup1 {
  width: 123px;
}

.container-svg h3 {
  width: 77px;
  font-family: Montserrat arm;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #B3DD62;

}

.container-svg span {
  width: 324px;
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFFB2;

}

.SvgGroup2 {
  width: 98px;
}

.SvgGroup3 {
  width: 88px;
}

.wrapper-smoll-content .container>.row {
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.wrapper-svggroup {
  width: 129px;
  position: absolute;
  top: 301px;
  right: 90%;
}

.wrapper-svggroup2 {
  width: 129px;
  position: absolute;
  bottom: 78%;
  left: 55%;
}

.wrapper-svggroup3 {
  position: absolute;
  width: 445px;
  flex-shrink: 0;
  background-blend-mode: overlay;
  mix-blend-mode: overlay;
  left: 79%;
  bottom: 121px;
}

.wrapper-svggroup4 {
  position: absolute;
  width: 346px;
  left: 89%;
  bottom: 31%;
}

.wrapper-colleg {
  position: relative;
  width: 100%;
  min-height: 688px;
  background: linear-gradient(99.81deg, #0A30A3 -0.37%, #001447 55.23%);
  overflow: hidden;
}

.container-casio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.container-casio h3 {
  width: 385px;
  font-family: Montserrat arm;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;

}

.content.container-content>.wrapper-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  gap: 38px;
}

.container-button-click {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-button-click button {
  width: 293px;
  height: 44px;
  padding: 7px 32px 7px 32px;
  border-radius: 32px;
  background: linear-gradient(180deg, #FFB763 10.52%, #FF7233 78.75%);
  font-family: Montserrat arm;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #001447;
  border: none;
}

.vector-svg30 {
  position: absolute;
  width: 620px;
  bottom: 64%;
  left: 78%;
}

.container-group101 {
  position: absolute;
  width: 274px;
}



@media (max-width: 700px) {

  .wrapper-navbar .links,
  .wrapper-navbar .dropdown {
    display: none;
  }

  .wrapper-navbar .toggle-btn {
    display: block;
  }

  .wrapper-dropdown-menu {
    display: block;
  }

  .wrapper-dropdown-menu .closeIcon {
    display: block;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px !important;
  }
}